* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.posts {
  padding: 0 3rem;
}
.card {
  aspect-ratio: 9/9;
  position: relative;
  width: 230px;
}
.add {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 100;
}
.profile,
.warn {
  position: absolute;
  left: 1rem;
  display: flex;
  gap: 0.4rem;
  align-items: center;
}
.profile h6 {
  margin-top: 0.4rem;
}
.profile img {
  width: 30px;
  border-radius: 50%;
}
.logout {
  position: absolute;
  right: 1rem;
}

form {
  margin: 0 auto;
  width: 50%;
}
@media (max-width: 700px) {
  form {
    width: 70%;
  }
}
